body{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h3{
    color: #04aa6d;
}

#transaction {
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	color: #04AA6D;
	border-radius: 10px;
	border-collapse: collapse;
	border: none;
}

#transaction tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: rgb(241, 233, 229);
}

#transaction th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #04AA6D;
	color: white;
}

#transaction td {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: #04AA6D;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #04AA6D;
	color: white;
	text-align: center;
}

#transaction th, #transaction td {
	border: none 
}

#transaction th:first-child {
	border-radius: 10px 0 0 0;
}

#transaction th:last-child {
	border-radius: 0 10px 0 0 ;
}

#transaction tr:last-child td:first-child {
	border-radius: 0 0 0 10px ;
}

#transaction tr:last-child td:last-child {
	border-radius: 0 0 10px 0 ;
}

#transaction tr:hover td {
	background-color: #ddd
}

